body {
  background: black;
  margin: 0;
  font-family: "Open Sans Light";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: white;
  text-decoration: none;

  a {
    color: white;
  }
}